<h2>Attributes</h2>

<h3>{{ characterName }}</h3>

<form [formGroup]="abilityScoresForm" (ngSubmit)="onSave(abilityScoresForm.value)">
  <label for="" style="width: 100%;">
    Name:
    <input type="text" formControlName="name">
  </label>
  <label>
    Strength:
    <input type="number" formControlName="strengthModifier">
    <input (change)="updateMod()" type="number" formControlName="strengthAbilityScore">
  </label>
  <label>
    Dexterity:
    <input type="number" formControlName="dexterityModifier">
    <input type="number" formControlName="dexterityAbilityScore">
  </label>
  <label>
    Constitution:
    <input type="number" formControlName="constitutionModifier">
    <input type="number" formControlName="constitutionAbilityScore">
  </label>
  <label>
    Intelligence:
    <input type="number" formControlName="intelligenceModifier">
    <input type="number" formControlName="intelligenceAbilityScore">
  </label>
  <label>
    Wisdom:
    <input type="number" formControlName="wisdomModifier">
    <input type="number" formControlName="wisdomAbilityScore">
  </label>
  <label>
    Charisma
    <input type="number" formControlName="charismaModifier">
    <input type="number" formControlName="charismaAbilityScore">
  </label>

  <div class="row submit-button-container">
      <div class="col-md-4">
        <button mat-raised-button class="btn btn-primary" color="primary" type="submit" [disabled]="!abilityScoresForm.valid">Create</button>
      </div>
    </div>

</form>