<div class="nav flex-column nav-pills" role="sidebar" aria-orientation="vertical">
    <a class="nav-link" routerLink="/character/{{ characterID }}/attributes/" routerLinkActive="active" role="tab" aria-controls="v-pills-home" aria-selected="true">Attributes</a>
    <a class="nav-link" routerLink="/character/{{ characterID }}/spells/" routerLinkActive="active" role="tab">Spells</a>
    <a class="nav-link" routerLink="/character/{{ characterID }}/equipment/" routerLinkActive="active" role="tab">Equipment</a>
</div>